@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 100px;
    overflow: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 0.14rem;
}
@media screen and (max-width:320px){
	html{font-size:77.2947px;}
}
@media screen and (min-width:321px) and (max-width:375px){
	html{font-size:90.5797px;}
}
@media screen and (min-width:376px) and (max-width:414px){
	html{font-size:100px;}
}
@media screen and (min-width:415px) and (max-width:568px){
	html{font-size:137.1987px}
}
@media screen and (min-width:569px) and (max-width:667px){
	html{font-size:167.1111px}
}
@media screen and (min-width:668px) and (max-width:767px){
	html{font-size:185.2657px}
}
@media screen and (min-width:768px) and (max-width:1024px){
	html{font-size:247.3430px}
}
@media screen and (min-width:1024px) and (max-width:1824px){
	html{font-size:260px}
}
